{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="igue-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/"><img class="igue-logo" src="{{ base_path }}/images/IGUE.logo.jpeg" alt="{{ site.title }}"/> <span>{{ site.title }}</span></a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item persist tail" style="margin-left:auto;">
            <form action="{{ base_path }}/search/" method="get" role="search" aria-label="Site search">
              <label for="site-search" class="sr-only">Buscar</label>
              <input id="site-search" name="q" type="search" placeholder="Buscar" />
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>